@value height: min(80vh, 500px);

.container {
	height: 100vh;
	gap: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.text_container {
	width: 30vw;
	min-height: height;
}

.library_container {
	width: 40vw;
	height: height;
	flex-shrink: 0;
}

.about_body {
	overflow-y: auto;
	max-height: calc(75vh - 3rem);
}


@media only screen and (max-width: 750px) {
	.container {
		gap: 0px;
		padding-top: 7vh;
		padding-bottom: 7vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.library_container {
		width: 70vw;
		height: 50vh;
		min-height: 50vh;
	}
	.text_container {
		width: 70vw;
		min-height: 0px;
		margin-bottom: max(10px, 3vh);
	}
	.about_body {
		min-height: 10vh;
		max-height: 25vh;
	}
}