.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-top: 20vh;
	gap: 50px;
}

.text_container {
	width: 30vw;
}
.contact_body {
	max-height: 51vh;
	overflow-y: auto;
}

.form_container {
	width: 40vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: calc(1vw + 2px);
}

.small_input_container {
	width: 100%;
	display: flex;
	gap: calc(1vw + 2px);
}
.small_input_container input {
	flex-grow: 1;
}

.input {
	width: 100%;
	position: relative;
	background: none;
}

.input_error_base {
	width: 100%;
	position: relative;
	background: none;
	height: min-content;
}

.input_error_base::before {
	content: " ";
	position: absolute;
	left: 0px;
	width: 0%;
	top: 0px;
	bottom: 0px;
	transition: all 300ms ease-in-out;
}

.input_error input::placeholder {
	color: #555;
}
.input_error textarea::placeholder {
	color: #555;
}

.input_error::before {
	content: " ";
	position: absolute;
	background: #ff8a66;
	left: 0px;
	width: 100%;
	top: 0px;
	bottom: 0px;
}

.text_area {
	background: none;
	position: relative;
	min-width: 100%;
	max-width: 100%;
	min-height: 30vh;
	height: 35vh;
	margin-bottom: -5px;
	max-height: 50vh;
	resize: vertical;
}

.btn_send {
	background-color: var(--color-green);
	transition: all 100ms ease-in-out;
}



@media only screen and (max-width: 750px) {
	.container {
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
	.text_container {
		width: calc(80vw - 50px);
	}
	.form_container {
		width: calc(80vw - 50px);
	}
	.text_area {
		min-height: 20vh;
		height: 25vh;
	}
}