.lego {
	width: 15rem;
	height: 15rem;
}

.container {
	height: 100vh;
	padding-bottom: 40vh;
	gap: 60px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}

@media only screen and (max-width: 750px) {
	.container {
		padding-bottom: 0vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.lego {
		margin-top: -100px;
		width: 10rem;
		height: 10rem;
		/* display: none; */
	}
}